.sass-cache
ariketak_pribatua/
pre_assets/
pre_js/
css/style.min.css 
.BridgeSort
.DS_Store
# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
