.example {
  font-size: 50px;
}

body {
  background: pink;
}

:root {
  --color: #e84d7a;
  --text-color: #222;
  --spacer: 8px;

  --circle-bg-xs-diameter: 25%;
  --circle-bg-sm-diameter: 50%;
  --circle-bg-md-diameter: 120%;
  --circle-bg-lg-diameter: 200%;
  --circle-bg-xl-diameter: 400%;
  --circle-bg-translate-to-edge: 5%;
  --circle-bg-translate-to-center: 50%;
  --circle-bg-translate-to-center-asymmetric: 35%;

  --screen-md: 740px;
}

/* TODO Reset */
body,
ul,
li,
h1 {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: normal;

}

* {
  box-sizing: border-box;
}

.nak-section {
  padding: calc(var(--spacer) * 4);
}

.logo {
  /* height: 20px;
    margin-right: 8px; */
}

.romeo {
  width: 300px;
  height: 500px;
}

.Hero {
  background: url('./static/images/romeo.png') top right no-repeat;
  background-size: contain;

  min-height: 100vh;
}

.Hero__header {
  background: white;
  min-height: 100vh;
  width: 30vw;
  padding: calc(var(--spacer) * 4);
}

.Hero__title {
  font-size: 3vw;
  font-weight: 100;

}

.Section__title {
  font-size: 6vw;
  font-weight: 100;

}

.Navigation {
  position: sticky;
  top: 40px;
  margin-top: -420px;
  z-index: 1;
  font-weight: 100;
  height: 420px;
}

.Navigation__list {
  list-style: none;
}

.Navigation__link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 3em;

}

.circle-bg {
  position: relative;
  z-index: 0;
}

.link {
  color: var(--text-color);
}

.link:hover {
  color: var(--color);
}

.circle-bg::before {
  content: "";
  width: var(--circle-bg-md-diameter);
  padding-bottom: var(--circle-bg-md-diameter);
  border-radius: 1000rem;
  position: absolute;
  background: var(--color);
  z-index: -1;
  top: var(--circle-bg-translate-to-center);
  left: var(--circle-bg-translate-to-center);
  transform: translate(-var(--circle-bg-translate-to-center), -var(--circle-bg-translate-to-center));
}

.circle-bg-right-c::before {
  right: -var(--circle-bg-translate-to-center);
  left: inherit;
}

@supports (display: grid) and (grid-template-columns:repeat(3, 1fr)) and (grid-row-gap:1%) and (grid-gap:1%) and (grid-column-gap:1%) {
  .d-grid {
    display: grid;
  }

  @media all and (min-width: 740px) {
    .grid--1-1 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}


