//--------------------------------//
//  Find me
//--------------------------------//

.calendar {
  font-family: abel;
  position: relative;
  ul {
    li i {
      float: left;
      margin-top: 20px;
      margin-right: 0px;
      margin-left: 5px;
      color: #666;
      font-size: 1.5em;
    }
    ul {
      i {
        margin-top: 5px;
        margin-right: 15px;
      }
      background: none;
    }
    font-size: 1.3em;
    float: left;
    background: url(../assets/marra.png) 36px 0 repeat-y;
    li {
      clear: both;
      margin: 10px 0;
      float: left;
    }
    ul li {
      margin: 0;
      &:nth-child(1) {
        font-size: 0.8em;
      }
    }
  }
  a i:hover {
    text-decoration: none;
    color: #555;
  }
}

i {
  // &.icon-slides {
  //   background: url(../assets/icon-slides.png) 0 0 no-repeat;
  //   width: 33px;
  //   height: 30px;
  //   &:hover {
  //     background: url(../assets/icon-slides-hover.png) 0 0 no-repeat;
  //   }
  // }
  &.icon-blog {
    background: url(../assets/icon-blog.png) 0 0 no-repeat;
    width: 33px;
    height: 30px;
    &:hover {
      background: url(../assets/icon-blog-hover.png) 0 0 no-repeat;
    }
  }
}

.today {
  font-size: 2em;
  margin-top: 10px;
  float: left;
}

.upcoming {
  color: #666;
  font-size: 2em;
  top: 100px;
  left: -40px;
}

.past {
  color: #666;
  font-size: 2em;
  bottom: 0px;
  left: -15px;
}

.new span {
 /* position: absolute;
  left: 0;
  font-size: 1em;
  top: 30px;
  line-height: 20px;
  padding: 5px;
*/
  i {
    font-size: 1em;
    padding-top: 5px;
  }
}

.mainmenu li {
  position: relative;
}

.new {
  margin-top: 80px;
  line-height: 50px;
  right: 0px;
  width: 80px;
  height: 50px;
  background: #f4b408;
  position: absolute;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transform: rotate(-270deg);
  -moz-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  -o-transform: rotate(-270deg);
  transform: rotate(-270deg);
  -webkit-box-shadow: 1px 1px 1px #333333, -1px -1px 1px #999999;
  -moz-box-shadow: 1px 1px 1px #333333, -1px -1px 1px #999999;
  box-shadow: 1px 1px 1px #333333, -1px -1px 1px #999999;
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid #f4b408;
    border-bottom: 13px solid transparent;
    margin: 13px 0 0 -25px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 800px) {
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .find {
    text-align: left;
    ul {
      background: none;
      li i {
        display: none;
      }
      ul li i {
        display: block;
      }
    }
  }
  .upcoming, .past, .today {
    display: none;
  }
  .text.size100 {
    font-size: 8em;
  }
  .size1of2 {
    width: 100%;
  }
  ul {
    padding: 0;
    li {
      width: 100% !important;
      font-size: 1em;
      margin: 20px auto;
    }
    &.height400 li {
      height: inherit !important;
    }
  }
  .height400 {
    height: inherit !important;
  }
  .mainbox.cv {
    height: 1300px;
  }
  #container img {
    max-width: 100%;
    // height: inherit;
 
  }
  .col4, .col3, .col2 {
    width: 95%;
    margin: auto;
  }
  #content {
    padding: 0;
  }
  .mainmenu {
    position: relative;
    height: 140px;
    background: #000;
    right: 0px;
    font-size: 180%;
    li {
      width: 50% !important;
      margin: 0 !important;
      border-bottom: 1px dotted #000;
      padding: 10px !important;
    }
    a {
      display: block;
      text-align: center;
    }
  }
  .mainbox {
    background-size: cover;
  }
  .index1, .index2, .index3, .index4, .index5, .index6, .index7, .index8, .inspire {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transition: background-position 2s ease;
    -moz-transition: background-position 2s ease;
    -o-transition: background-position 2s ease;
    transition: background-position 2s ease;
    -webkit-transition: background-size 2s linear;
    -moz-transition: background-size 2s linear;
    -o-transition: background-size 2s linear;
    transition: background-size 2s linear;
  }
  .index1:hover, .index2:hover, .index3:hover, .index4:hover, .index5:hover, .index6:hover, .index7:hover, .index8:hover, .inspire {
    -moz-background-position: 0px 0px;
    -o-background-position: 0px 0px;
    -webkit-background-position: 0px 0px;
    background-position: 0px 0px;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .bio_bg {
    background-image: none !important;
    text-align: center;
  }
  .cooking {
    display: none;
  }
  .box {
    margin-bottom: 10px;
    clear: both;
  }
  .text.size100 {
    font-size: 6em;
  }
  ul.ch-grid, .new {
    display: none;
  }
  .find {
    margin-top: 70px;
  }
}

@media only screen and (min-width: 1900px) {
  .mainbox {
    &.index1, &.index2, &.pattern2, &.index3, &.index4, &.index5, &.index6, &.index7, &.index8, &.inspire {
      height: 1300px;
    }
  }
  .height1000 {
    height: 1300px;
  }
}

//
//
//
//