//--------------------------------//
//  Home
//--------------------------------//

.index1 {
  background: url(../assets/1.jpg) no-repeat;
}

.index2 {
  background: url(../assets/2.jpg) no-repeat;
}

.index3 {
  background: url(../assets/3.jpg) no-repeat;
}

.index4 {
  background: url(../assets/4.jpg) no-repeat;
}

.index5 {
  background: url(../assets/5.jpg) no-repeat;
}

.index6 {
  background: url(../assets/6.jpg) no-repeat;
}

.index7 {
  background: url(../assets/7.jpg) no-repeat;
}

.index8 {
  background: url(/emmet/assets/image/vuela.jpg) no-repeat;
}

.inspire {
  background: url(http://farm4.staticflickr.com/3019/5764261294_b7e1bbed16_o.jpg) 0 0 no-repeat;
}

.index1, .index2, .index3, .index4, .index5, .index6, .index7, .index8, .inspire {
  -moz-background-size: 110% 110%;
  -o-background-size: 110% 110%;
  -webkit-background-size: 110% 110%;
  background-size: 110% 110%;
  -webkit-transition: background-position 2s ease;
  -moz-transition: background-position 2s ease;
  -o-transition: background-position 2s ease;
  transition: background-position 2s ease;
  -webkit-transition: background-size 2s linear;
  -moz-transition: background-size 2s linear;
  -o-transition: background-size 2s linear;
  transition: background-size 2s linear;
}

.index1:hover, .index2:hover, .index3:hover, .index4:hover, .index5:hover, .index6:hover, .index7:hover, .index8:hover, .inspire:hover {
  -moz-background-position: 0px 0px;
  -o-background-position: 0px 0px;
  -webkit-background-position: 0px 0px;
  background-position: 0px 0px;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}

@media all and (max-width: 360px) {
  background-image: none;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  /* Gecko 1.9.2 (Firefox 3.6) */
  /* Opera 9.5 */
  /* Safari 3.0 */
}

//
//
//
//
//