//--------------------------------//
//  Works
//--------------------------------//

.works {
  background: #222;
}

.esoft {
  background: url(../assets/esoft1.jpg) 0 -150px;
  &:hover {
    background: url(../assets/esoft1.jpg);
    cursor: hand;
  }
}

.koop {
  background: url(../assets/koopelektrik.jpg) 0 -150px;
  &:hover {
    background: url(../assets/koopelektrik.jpg);
    cursor: hand;
  }
}

.esoft2 {
  background: url(../assets/esoft2.jpg) 0 -150px;
  &:hover {
    background: url(../assets/esoft2.jpg) 0 0;
    cursor: hand;
  }
}

.sinpel {
  background: url(../assets/sinpel.jpg) 0 -150px;
  &:hover {
    background: url(../assets/sinpel.jpg);
    cursor: hand;
  }
}

.bolidismo {
  background: url(../assets/bolidismo.jpg) 0 -150px;
  &:hover {
    background: url(../assets/bolidismo.jpg);
    cursor: hand;
  }
}

.eguiluz {
  background: url(../assets/eguiluz.jpg) 0 -150px;
  &:hover {
    background: url(../assets/eguiluz.jpg);
    cursor: hand;
  }
}

.izarbidean {
  background: url(../assets/izarbidean.jpg) 0 -150px;
  &:hover {
    background: url(../assets/izarbidean.jpg);
    cursor: hand;
  }
}

.boga {
  background: url(../assets/boga.jpg) 0 -150px;
  &:hover {
    background: url(../assets/boga.jpg);
    cursor: hand;
  }
}

.iaran {
  background: url(../assets/iaran.jpg) 0 -150px;
  &:hover {
    background: url(../assets/iaran.jpg);
    cursor: hand;
  }
}

.iaran2 {
  background: url(../assets/iaran2.jpg) 0 -150px;
  &:hover {
    background: url(../assets/iaran2.jpg);
    cursor: hand;
  }
}

.aguirreoa {
  background: url(../assets/aguirreoa.jpg) 0 -150px;
  &:hover {
    background: url(../assets/aguirreoa.jpg);
    cursor: hand;
  }
}

.walk {
  background: url(../assets/walk.jpg) 0 -150px;
  &:hover {
    background: url(../assets/walk.jpg);
    cursor: hand;
  }
}

.visio {
  background: url(../assets/visio.jpg) 0 -150px;
  &:hover {
    background: url(../assets/visio.jpg);
    cursor: hand;
  }
}

.katafora {
  background: url(../assets/katafora.jpg) 0 -150px;
  &:hover {
    background: url(../assets/katafora.jpg);
    cursor: hand;
  }
}

.launa {
  background: url(../assets/launa.jpg) 0 -150px;
  &:hover {
    background: url(../assets/launa.jpg);
    cursor: hand;
  }
}

.carlton {
  background: url(../assets/carlton.jpg) 0 -150px;
  &:hover {
    background: url(../assets/carlton.jpg);
    cursor: hand;
  }
}

.epaia {
  background: url(../assets/epaia.jpg) 0 -150px;
  &:hover {
    background: url(../assets/epaia.jpg);
    cursor: hand;
  }
}

.urline {
  background: url(../assets/urline.jpg) 0 -150px;
  &:hover {
    background: url(../assets/urline.jpg);
    cursor: hand;
  }
}

.estudio3 {
  background: url(../assets/estudio3.jpg) 0 -150px;
  &:hover {
    background: url(../assets/estudio3.jpg);
    cursor: hand;
  }
}

.janire {
  background: url(../assets/janire.jpg) 0 -150px;
  &:hover {
    background: url(../assets/janire.jpg);
    cursor: hand;
  }
}

//Masonry

#container {
  padding: 5px;
  margin-bottom: 20px;
  clear: both;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.centered {
  margin: 0 auto;
}

.box {
  /*margin: 5px;*/
  padding: 0px;
  background: #131313;
  font-size: 13px;
  line-height: 1.4em;
  float: left;
  margin-bottom: 20px;
  /*
  border-radius: 5px;
  box-shadow: 3px 3px 5px #000;*/
  h2 {
    font-size: 20px;
    font-weight: 200;
    margin: 5px;
  }
  p {
    margin: 5px;
  }
  img {
    display: block;
    width: 100%;
  }
}

#tumblelog img {
  display: block;
  width: 100%;
}

.rtl .box {
  float: right;
  text-align: right;
  direction: rtl;
}

.col1 {
  width: 80px;
}

.col2 {
  width: 180px;
}

.col3 {
  width: 280px;
}

.col4 {
  width: 380px;
}

.col5 {
  width: 480px;
}

.col1 img {
  max-width: 80px;
}

.col2 img {
  max-width: 180px;
}

.col3 img {
  max-width: 280px;
}

.col4 img {
  max-width: 380px;
}

.col5 img {
  max-width: 480px;
}

/**** Transitions ****/

.transitions-enabled {
  &.masonry {
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
    .masonry-brick {
      -webkit-transition-duration: 0.7s;
      -moz-transition-duration: 0.7s;
      -o-transition-duration: 0.7s;
      transition-duration: 0.7s;
      -webkit-transition-property: left, right, top;
      -moz-transition-property: left, right, top;
      -o-transition-property: left, right, top;
      transition-property: left, right, top;
    }
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
  }
  &.infinite-scroll.masonry {
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
  }
}

/* disable transitions on container */