@font-face {
  font-family: 'naknak';
  src: url("../font/naknak.eot?-fmiee1");
  src: url("../font/naknak.eot?#iefix-fmiee1") format("embedded-opentype"), url("../font/naknak.woff?-fmiee1") format("woff"), url("../font/naknak.ttf?-fmiee1") format("truetype"), url("../font/naknak.svg?-fmiee1#naknak") format("svg");
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  font-family: 'naknak';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lea:before {
  content: "\e60d";
}

.icon-link:before {
  content: "\e60b";
}

.icon-orion:before {
  content: "\e601";
}

.icon-slides:before {
  content: "\e602";
}

.icon-circle:before {
  content: "\e60c";
}

.icon-video:before {
  content: "\e60a";
}

.icon-instagram:before {
  content: "\e60f";
}

.icon-codepen:before {
  content: "\e60e";
}

.icon-picture:before {
  content: "\e600";
}

.icon-googleplus:before {
  content: "\e603";
}

.icon-twitter:before {
  content: "\e604";
}

.icon-github:before {
  content: "\e605";
}

.icon-wordpress:before {
  content: "\e606";
}

.icon-pinterest:before {
  content: "\e607";
}

.icon-heart:before {
  content: "\e608";
}

.icon-linkedin:before {
  content: "\e609";
}