.switch-min {
  &:before {
    content: "";
    background: url(../assets/naknak.png) 0 0 no-repeat;
    background-size: contain;
    width: 47px;
    height: 196px;
    position: fixed;
    left: 50px;
    top: 50px;
    opacity: .7;
  }
}

.works_file .content img {
  max-width: 100%;
}

.slide h2>span {
  background: $opaque;
  padding: 5px;
  display: inline-block;
  width: inherit;
}

a {
  [data-content="content-1"] & {
    color: $color !important;
  }
  [data-content="content-2"] & {
    color: $content2color !important;
  }
  [data-content="content-3"] & {
    color: $content3color !important;
  }
  [data-content="content-4"] & {
    color: $content4color !important;
  }
  [data-content="content-5"] & {
    color: $content5color !important;
  }
}

h2 > span {
  [data-content="content-1"] & {
    color: $color;
  }
  [data-content="content-2"] & {
    color: $content2color;
  }
  [data-content="content-3"] & {
    color: $content3color;
  }
  [data-content="content-4"] & {
    color: $content4color;
  }
  [data-content="content-5"] & {
    color: $content5color;
  }
}

button.slider-switch,button.content-switch {
  [data-content="content-1"] & {
    background: $color;
  }
  [data-content="content-2"] & {
    background: $content2color;
  }
  [data-content="content-3"] & {
    background: $content3color;
  }
  [data-content="content-4"] & {
    background: $content4color;
  }
  [data-content="content-5"] & {
    background: $content5color;
  }
}

button.slider-switch {
  background-color: $opaque !important;
}
