@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700");
@import url("http://fonts.googleapis.com/css?family=Londrina+Sketch");
@import url("http://fonts.googleapis.com/css?family=La+Belle+Aurore");
@import url(http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);
/* ====================== FONT-FACE ====================== */
body {
  color: #000;
  font-size: 13px;
  line-height: 1.2;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  /* ====================== NAVIGATION ====================== */
  /* ====================== BACKGROUNDS ====================== */
  /* ====================== TEXT ====================== */
  /* ====================== FORM ====================== */
  /* ====================== TABLE ====================== */
  /* ====================== BUTTONS ====================== */
}
body > header .solid {
  background: #111;
}
body > header nav a {
  color: rgba(255, 255, 255, 0.5);
}
body > header nav a:hover, body > header nav a :active {
  color: #fff;
}
body > section {
  min-height: 900px;
}
body > section .underline {
  border-bottom: solid #bbb 1px;
}
body hr {
  border-style: solid;
  border-color: #f9f4e9;
  margin: 20px 0;
  padding: 0;
}
body nav.group a {
  border-left: solid #ccc 1px;
  color: #888;
}
body nav.group a > .icon {
  color: #888;
}
body nav.group a :hover, body nav.group a :active, body nav.group a .active {
  color: #000;
  background: white;
}
body nav.group a :hover > .icon, body nav.group a :active > .icon, body nav.group a .active > .icon {
  color: #000;
}
body nav.group a :last-child {
  border-right: solid #fff 1px;
}
body .bck.lightest {
  background-color: white;
}
body .bck.light {
  background-color: #f9f4e9;
}
body .bck.dark {
  background-color: #282828;
}
body .bck.darkest {
  background-color: #181818;
}
body .bck.theme {
  background-color: #ce316f;
}
body .bck.accept {
  background-color: #3fb58e;
}
body .bck.cancel {
  background-color: #ee6557;
}
body .bck.textura {
  background: url(../images/cardboard.png);
}
body .bck.textura2 {
  background: url(../images/paper.jpg);
}
body .text.shadow {
  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -o-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
}
body .text.color.accept {
  color: #3fb58e;
}
body .text.color.cancel {
  color: #ee6557;
}
body .text.color.secondary {
  color: #b3a08c;
}
body .text.color.theme {
  color: #ce316f;
}
body .text.color.white {
  color: #fff;
}
body form input[type="text"], body form input[type="password"], body form input[type="date"], body form input[type="datetime"], body form input[type="email"], body form input[type="number"], body form input[type="search"], body form input[type="tel"], body form input[type="time"], body form input[type="url"], body form select, body form textarea, body .form input[type="text"], body .form input[type="password"], body .form input[type="date"], body .form input[type="datetime"], body .form input[type="email"], body .form input[type="number"], body .form input[type="search"], body .form input[type="tel"], body .form input[type="time"], body .form input[type="url"], body .form select, body .form textarea {
  background-color: white;
  border: 1px solid #ddd;
  color: rgba(0, 0, 0, 0.75);
}
body form input[type="text"].error, body form input[type="text"]:required, body form input[type="password"].error, body form input[type="password"]:required, body form input[type="date"].error, body form input[type="date"]:required, body form input[type="datetime"].error, body form input[type="datetime"]:required, body form input[type="email"].error, body form input[type="email"]:required, body form input[type="number"].error, body form input[type="number"]:required, body form input[type="search"].error, body form input[type="search"]:required, body form input[type="tel"].error, body form input[type="tel"]:required, body form input[type="time"].error, body form input[type="time"]:required, body form input[type="url"].error, body form input[type="url"]:required, body form select.error, body form select:required, body form textarea.error, body form textarea:required, body .form input[type="text"].error, body .form input[type="text"]:required, body .form input[type="password"].error, body .form input[type="password"]:required, body .form input[type="date"].error, body .form input[type="date"]:required, body .form input[type="datetime"].error, body .form input[type="datetime"]:required, body .form input[type="email"].error, body .form input[type="email"]:required, body .form input[type="number"].error, body .form input[type="number"]:required, body .form input[type="search"].error, body .form input[type="search"]:required, body .form input[type="tel"].error, body .form input[type="tel"]:required, body .form input[type="time"].error, body .form input[type="time"]:required, body .form input[type="url"].error, body .form input[type="url"]:required, body .form select.error, body .form select:required, body .form textarea.error, body .form textarea:required {
  background-color: rgba(198, 15, 19, 0.1);
  border-color: #ee6557;
  color: #ee6557;
}
body form input[type="text"]:focus, body form input[type="password"]:focus, body form input[type="date"]:focus, body form input[type="datetime"]:focus, body form input[type="email"]:focus, body form input[type="number"]:focus, body form input[type="search"]:focus, body form input[type="tel"]:focus, body form input[type="time"]:focus, body form input[type="url"]:focus, body form select:focus, body form textarea:focus, body .form input[type="text"]:focus, body .form input[type="password"]:focus, body .form input[type="date"]:focus, body .form input[type="datetime"]:focus, body .form input[type="email"]:focus, body .form input[type="number"]:focus, body .form input[type="search"]:focus, body .form input[type="tel"]:focus, body .form input[type="time"]:focus, body .form input[type="url"]:focus, body .form select:focus, body .form textarea:focus {
  background: #FAFAFA;
  border-color: #B3B3B3;
  color: rgba(0, 0, 0, 0.75);
}
body table {
  background: #fff;
  color: #333;
  border: 1px solid #ddd;
}
body table tr:nth-child(even) td {
  background-color: #F9F9F9;
}
body table th {
  background-color: #eee;
  color: #222;
}
body table td .highlight {
  background-color: #ce316f !important;
  color: #fff;
}
body .button, body button {
  background-color: #ce316f;
  border: solid 1px rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: 400;
  /* ====================== BUTTONS ====================== */
  /* ====================== TAGs ====================== */
}
body .button:active, body button:active {
  border-color: none;
}
body .button.secondary, body button.secondary {
  background-color: #b3a08c;
  color: #666;
  -moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  -o-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
}
body .button.accept, body button.accept {
  background-color: #3fb58e;
}
body .button.cancel, body button.cancel {
  background-color: #ee6557;
}
body .button.transparent, body button.transparent {
  background: none !important;
}
body .button a:link, body .button a:visited, body button a:link, body button a:visited {
  color: #ce316f;
  opacity: 0.9;
}
body .button a:link:hover, body .button a:link:active, body .button a:visited:hover, body .button a:visited:active, body button a:link:hover, body button a:link:active, body button a:visited:hover, body button a:visited:active {
  opacity: 1.0;
}
body .button .tag, body button .tag {
  color: #fff !important;
  border: solid 1px rgba(0, 0, 0, 0.1);
}
body a {
  color: #ce316f;
}

/* ====================== EXPECÍFICOS ====================== */
.main.landing {
  background: url(../images/home.jpg) 0 0 no-repeat;
  background-size: cover;
  min-height: 700px;
  position: relative;
}
.main.landing h2 {
  position: absolute;
  bottom: 7%;
  left: 25%;
  font-size: 7em;
}
.main.landing p {
  position: absolute;
  bottom: 2%;
  left: 25%;
}

.logo_n {
  position: relative;
  width: 279px;
  height: 57px;
  margin-left: 60px;
  margin-top: 30px;
}
.logo_n span {
  position: absolute;
  text-indent: -9999px;
}
.logo_n em {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../images/logo_n.png) 0 0 no-repeat;
}

.icon {
  font-size: 2.5em;
}

/* .circle.column_3{
   border-radius:50%;
   height: 260px;
   text-align: center;
   padding: 5%;
   line-height: 1.1em;
 }*/
.circle {
  border-radius: 50%;
  text-align: center;
  padding: 15% 5%;
  line-height: 1.1em;
  font-size: 1.1em;
  position: relative;
  overflow: visible;
  margin: auto;
}

.dia260 {
  width: 260px;
  height: 260px;
}

.dia200 {
  width: 200px;
  height: 200px;
}

.dia300 {
  width: 300px;
  height: 300px;
}

.circle.column_4.melopido {
  border-radius: 50%;
  height: 360px;
  margin: 40px;
  text-align: center;
  padding: 5%;
  line-height: 1.1em;
  font-size: 1.5em;
  position: relative;
  overflow: visible;
}
.circle.column_4.melopido:hover {
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -ms-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.circle.column_4.melopido:hover:before {
  content: "Me lo pido";
  position: absolute;
  top: -40px;
  left: -40px;
  width: 300px;
  height: 49px;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.circle.column_4.melopido a {
  display: block;
  color: #181818;
}
.circle.column_4.melopido a:hover {
  color: #323232;
}

.border {
  border: 3px dashed #f9f4e9;
}

.border-top {
  border-top: 3px dashed #f9f4e9;
}

.bilbao_bg {
  background: url(../images/ciudad_bg.jpg) 0 0 no-repeat;
  background-size: 100%;
  min-height: 600px;
}

.where {
  min-height: 600px;
}

section.main {
  position: relative;
}

a .icon.menu {
  color: white;
  position: fixed;
  /*left: 20px;
  top: 20px;*/
  z-index: 2;
  margin-top: 10px;
}

.sidr {
  text-align: left;
  font-size: .7em;
}
.sidr a {
  display: block;
}
.sidr a .icon.menu {
  color: #ce316f;
  position: relative;
  /* position: fixed;
   right: 10px;
   top: 10px;*/
  width: 30px;
  height: 30px;
  z-index: 2;
}

.menu li {
  float: left;
}
.menu li a {
  color: white;
}

.heading {
  font-family: 'Love Ya Like A Sister', cursive;
}

section {
  position: relative;
}

.main.landing .heading {
  font-family: 'Love Ya Like A Sister', cursive;
}

.stella {
  position: absolute;
  bottom: 100px;
  left: 0%;
}
.stella.top {
  top: 0;
  bottom: inherit;
}
.stella.left {
  left: 13%;
}
.stella.left5 {
  left: 5%%;
}

.space {
  height: 500px;
  position: relative;
}

.coffee_angels {
  height: 500px;
  margin-top: 200px;
}

ul.angels li {
  width: 260px;
  height: 260px;
  float: left;
  list-style: none;
  padding-top: 110px;
  position: absolute;
  color: #b3a08c;
  /*font-family: 'Love Ya Like A Sister', cursive;*/
  background: url(../images/coffeeli.png) 0 0 no-repeat;
}

.pos1 {
  left: 0;
  top: 0%;
}

.pos2 {
  left: 10%;
  top: 10%;
}

.pos3 {
  left: 40%;
  top: 40%;
}

.pos4 {
  left: 60%;
  top: 60%;
}

.pos5 {
  left: 80%;
  top: 80%;
}

.pos6 {
  left: 20%;
  top: 20%;
}

.pos7 {
  left: 50%;
  top: 50%;
}

.pos8 {
  left: 70%;
  top: 70%;
}

/*who*/
.javi {
  background: url(../images/javi.jpg) 0 0 no-repeat;
  background-size: cover;
}

.nak {
  background: url(../images/nak.jpg) 0 0 no-repeat;
  background-size: cover;
}

#merchandaising {
  height: 600px;
}

.mer1 {
  background: url(../images/mer1.png) 0 0 no-repeat;
  background-size: content;
  left: 0;
}
.mer1:hover:before {
  content: "girl/black";
  position: absolute;
  bottom: -30px;
  left: 35%;
  cursor: help;
  font-weight: bold;
}

.mer2 {
  background: url(../images/mer2.png) 0 0 no-repeat;
  background-size: content;
  left: 20%;
}
.mer2:hover:before {
  content: "boy/black";
  position: absolute;
  bottom: -30px;
  left: 40%;
  cursor: help;
  font-weight: bold;
}

.mer3 {
  background: url(../images/mer3.png) 0 0 no-repeat;
  background-size: content;
  right: 0;
}
.mer3:hover:before {
  content: "girl/anticolor";
  position: absolute;
  bottom: -30px;
  left: 33%;
  cursor: help;
  font-weight: bold;
}

.mer4 {
  background: url(../images/mer4.png) 0 0 no-repeat;
  background-size: content;
  right: 20%;
}
.mer4:hover:before {
  content: "boy/anticolor";
  position: absolute;
  bottom: -30px;
  left: 32%;
  cursor: help;
  font-weight: bold;
}

.mer5 {
  background: url(../images/mer5.png) 0 0 no-repeat;
  background-size: content;
}

.mer6 {
  background: url(../images/mer6.png) 0 0 no-repeat;
  background-size: content;
  left: 40%;
}
.mer6:hover:before {
  content: "sticker";
  position: absolute;
  bottom: 30px;
  left: 30%;
  cursor: help;
  font-weight: bold;
}

.mer1, .mer2, .mer3, .mer4, .mer5, .mer6 {
  position: absolute;
}

/* ====================== COLORS ====================== */
/* HEADER */
/* ASIDE */
/* ARTICLE */
/* content */
/* HEADING */
/* LIST */
/* GRID */
.button, button {
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 15px;
  height: 32px;
  line-height: 30px;
  outline: none;
  text-align: center;
  text-decoration: none;
}
.button:disabled, .button.disabled, button:disabled, button.disabled {
  background: rgba(255, 255, 255, 0.2);
  color: #999 !important;
}
.button.icon, button.icon {
  padding: 1px 9px;
}
.button:not(.icon), button:not(.icon) {
  padding: 0 16px;
}
.button:not(.icon) .icon, button:not(.icon) .icon {
  margin-right: 5px;
  display: inline-block;
}
.button.anchor, button.anchor {
  width: 100%;
}
.button.anchor:not(.icon) .icon, button.anchor:not(.icon) .icon {
  float: left;
  margin-left: 8px;
}
.button.large, button.large {
  height: 52px;
  font-size: 22px;
  line-height: 52px;
}
.button.large.icon, button.large.icon {
  padding: 0 16px;
}
.button.large:not(.icon), button.large:not(.icon) {
  padding: 0 24px;
}
.button.small, button.small {
  height: 28px;
  font-size: 13px;
  line-height: 26px;
}
.button.small.icon, button.small.icon {
  padding: 1px 8px;
}
.button.small:not(.icon), button.small:not(.icon) {
  padding: 0 12px;
}
.button.small:not(.icon) > .icon, button.small:not(.icon) > .icon {
  height: 17px;
}
.button.tiny, button.tiny {
  height: 22px;
  font-size: 11px;
  line-height: 20px;
}
.button.tiny.icon, button.tiny.icon {
  padding: 0 6px;
}
.button.tiny:not(.icon), button.tiny:not(.icon) {
  padding: 0 10px;
}
.button.tiny:not(.icon) > .icon, button.tiny:not(.icon) > .icon {
  height: 12px;
}

.flexbox > * {
  display: block;
}

/* ====================== COLORS ====================== */
/* HEADER */
/* ASIDE */
/* ARTICLE */
/* content */
/* HEADING */
/* LIST */
/* GRID */
/* ========================= HEADING ========================= */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}
h1 .right, h2 .right, h3 .right, h4 .right, h5 .right, h6 .right {
  font-size: 1.0em;
}
h1 .icon, h2 .icon, h3 .icon, h4 .icon, h5 .icon, h6 .icon {
  font-size: 0.85em;
}

h1, .h1 {
  font-size: 7em;
}

h2, .h2 {
  font-size: 5em;
}

h3, .h3 {
  font-size: 4em;
  line-height: 1.5em;
}

h4, .h4 {
  font-size: 2em;
  line-height: 1.5em;
}

h5, .h5 {
  font-size: 1.6em;
  line-height: 1.1em;
}

h6 {
  font-size: 1.0em;
}

/* ========================= TEXT ========================= */
.text .thin {
  font-weight: 200;
}
.text .book {
  font-weight: 300;
}
.text .normal {
  font-weight: 400;
}
.text .bold {
  font-weight: 700;
}
.text .italic {
  font-style: italic;
}
.text .underline {
  border-bottom: 1px solid;
}
.text .uppercase {
  text-transform: uppercase;
}
.text.left {
  text-align: left;
}
.text.right {
  text-align: right;
}
.text.center {
  text-align: center;
}
.text.justify {
  text-align: justify;
}
.text.tiny {
  font-size: 0.8em;
}
.text.small {
  font-size: 0.9em;
}
.text.big {
  font-size: 1.2em;
}

/* ========================= BASIC ELEMENTS ========================= */
p, ul {
  font-size: 1.6em;
  margin-bottom: 20px !important;
  line-height: 1.7em;
}

small {
  font-size: 0.9em;
  line-height: 0.9em;
}

/* ====================== COLORS ====================== */
/* HEADER */
/* ASIDE */
/* ARTICLE */
/* content */
/* HEADING */
/* LIST */
/* GRID */
form input[type="text"], form input[type="password"], form input[type="date"], form input[type="datetime"], form input[type="email"], form input[type="number"], form input[type="search"], form input[type="tel"], form input[type="time"], form input[type="url"], form select, form textarea, .form input[type="text"], .form input[type="password"], .form input[type="date"], .form input[type="datetime"], .form input[type="email"], .form input[type="number"], .form input[type="search"], .form input[type="tel"], .form input[type="time"], .form input[type="url"], .form select, .form textarea {
  display: block;
  font-family: inherit;
  font-size: 14px;
  margin: 2px 0 6px 0;
  height: 32px;
  padding: 6px;
  width: 100%;
}
form input[type="text"]:focus, form input[type="password"]:focus, form input[type="date"]:focus, form input[type="datetime"]:focus, form input[type="email"]:focus, form input[type="number"]:focus, form input[type="search"]:focus, form input[type="tel"]:focus, form input[type="time"]:focus, form input[type="url"]:focus, form select:focus, form textarea:focus, .form input[type="text"]:focus, .form input[type="password"]:focus, .form input[type="date"]:focus, .form input[type="datetime"]:focus, .form input[type="email"]:focus, .form input[type="number"]:focus, .form input[type="search"]:focus, .form input[type="tel"]:focus, .form input[type="time"]:focus, .form input[type="url"]:focus, .form select:focus, .form textarea:focus {
  outline: none !important;
}
form input[type="text"].large, form input[type="password"].large, form input[type="date"].large, form input[type="datetime"].large, form input[type="email"].large, form input[type="number"].large, form input[type="search"].large, form input[type="tel"].large, form input[type="time"].large, form input[type="url"].large, form select.large, form textarea.large, .form input[type="text"].large, .form input[type="password"].large, .form input[type="date"].large, .form input[type="datetime"].large, .form input[type="email"].large, .form input[type="number"].large, .form input[type="search"].large, .form input[type="tel"].large, .form input[type="time"].large, .form input[type="url"].large, .form select.large, .form textarea.large {
  font-size: 1.2em;
  height: 52px;
  margin: 0px;
  padding: 0 20px;
}
form textarea, .form textarea {
  height: 64px;
}
form label, .form label {
  font-size: 0.9em;
  font-weight: 400;
}

.fieldset label, fieldset label {
  display: block;
  float: left;
  padding: 2px 8px;
  text-align: right;
  width: 25%;
}
.fieldset label > span, fieldset label > span {
  display: block;
  font-size: 0.8em;
  font-weight: 300;
  color: #666;
}
.fieldset input[type="text"], .fieldset input[type="password"], .fieldset input[type="date"], .fieldset input[type="datetime"], .fieldset input[type="email"], .fieldset input[type="number"], .fieldset input[type="search"], .fieldset input[type="tel"], .fieldset input[type="time"], .fieldset input[type="url"], .fieldset select, .fieldset textarea, fieldset input[type="text"], fieldset input[type="password"], fieldset input[type="date"], fieldset input[type="datetime"], fieldset input[type="email"], fieldset input[type="number"], fieldset input[type="search"], fieldset input[type="tel"], fieldset input[type="time"], fieldset input[type="url"], fieldset select, fieldset textarea {
  width: 75%;
}

/* ====================== COLORS ====================== */
/* HEADER */
/* ASIDE */
/* ARTICLE */
/* content */
/* HEADING */
/* LIST */
/* GRID */
/* ========================= VISIBILITY ========================= */
/* ========================= ROW ========================= */
/* ========================= COLUMN ========================= */
/* ========================= OFFSET =========================*/
/* ========================= NORMAL ========================= */
.row {
  margin: 0 auto;
  width: 960px;
  overflow: hidden;
}
.row .row {
  margin: 0 -16px 0 -16px;
  width: auto;
  display: inline-block;
}

[class^="column_"], [class*=" column_"] {
  margin: 0 16px 0 16px;
  overflow: hidden;
  float: left;
  display: inline;
}

.column_1 {
  width: 48px;
}

.column_2 {
  width: 128px;
}

.column_3 {
  width: 208px;
}

.column_4 {
  width: 288px;
}

.column_5 {
  width: 368px;
}

.column_6 {
  width: 448px;
}

.column_7 {
  width: 528px;
}

.column_8 {
  width: 608px;
}

.column_9 {
  width: 688px;
}

.column_10 {
  width: 768px;
}

.column_11 {
  width: 848px;
}

.column_12 {
  width: 928px;
}

.offset_1 {
  margin-left: 96px;
}

.offset_2 {
  margin-left: 176px;
}

.offset_3 {
  margin-left: 256px;
}

.offset_4 {
  margin-left: 336px;
}

.offset_5 {
  margin-left: 416px;
}

.offset_6 {
  margin-left: 496px;
}

.offset_7 {
  margin-left: 576px;
}

.offset_8 {
  margin-left: 656px;
}

.offset_9 {
  margin-left: 736px;
}

.offset_10 {
  margin-left: 816px;
}

.offset_11 {
  margin-left: 896px;
}

.show-phone {
  display: none !important;
}

.hide-phone {
  display: inherit !important;
}

.show-tablet {
  display: none !important;
}

.hide-tablet {
  display: inherit !important;
}

.show-screen {
  display: inherit !important;
}

.hide-screen {
  display: none !important;
}

/* ========================= MEDIA QUERY ========================= */
@media only screen and (min-width: 1200px) {
  .row {
    width: 1200px;
  }
  .row .row {
    margin: 0 -20px 0 -20px;
  }

  [class^="column_"], [class*=" column_"] {
    margin: 0 20px 0 20px;
  }

  .column_1 {
    width: 60px;
  }

  .column_2 {
    width: 160px;
  }

  .column_3 {
    width: 260px;
  }

  .column_4 {
    width: 360px;
  }

  .column_5 {
    width: 460px;
  }

  .column_6 {
    width: 560px;
  }

  .column_7 {
    width: 660px;
  }

  .column_8 {
    width: 760px;
  }

  .column_9 {
    width: 860px;
  }

  .column_10 {
    width: 960px;
  }

  .column_11 {
    width: 1060px;
  }

  .column_12 {
    width: 1160px;
  }

  .offset_1 {
    margin-left: 120px;
  }

  .offset_2 {
    margin-left: 220px;
  }

  .offset_3 {
    margin-left: 320px;
  }

  .offset_4 {
    margin-left: 420px;
  }

  .offset_5 {
    margin-left: 520px;
  }

  .offset_6 {
    margin-left: 620px;
  }

  .offset_7 {
    margin-left: 720px;
  }

  .offset_8 {
    margin-left: 820px;
  }

  .offset_9 {
    margin-left: 920px;
  }

  .offset_10 {
    margin-left: 1020px;
  }

  .offset_11 {
    margin-left: 1120px;
  }

  .show-phone {
    display: none !important;
  }

  .hide-phone {
    display: inherit !important;
  }

  .show-tablet {
    display: none !important;
  }

  .hide-tablet {
    display: none !important;
  }

  .show-screen {
    display: inherit;
  }

  .hide-screen {
    display: inherit !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .row {
    width: 768px;
  }
  .row .row {
    margin: 0 -14px 0 -14px;
  }

  [class^="column_"], [class*=" column_"] {
    margin: 0 14px 0 14px;
  }

  .column_1 {
    width: 36px;
  }

  .column_2 {
    width: 100px;
  }

  .column_3 {
    width: 164px;
  }

  .column_4 {
    width: 228px;
  }

  .column_5 {
    width: 292px;
  }

  .column_6 {
    width: 356px;
  }

  .column_7 {
    width: 420px;
  }

  .column_8 {
    width: 484px;
  }

  .column_9 {
    width: 548px;
  }

  .column_10 {
    width: 612px;
  }

  .column_11 {
    width: 676px;
  }

  .column_12 {
    width: 740px;
  }

  .offset_1 {
    margin-left: 78px;
  }

  .offset_2 {
    margin-left: 142px;
  }

  .offset_3 {
    margin-left: 206px;
  }

  .offset_4 {
    margin-left: 270px;
  }

  .offset_5 {
    margin-left: 334px;
  }

  .offset_6 {
    margin-left: 398px;
  }

  .offset_7 {
    margin-left: 462px;
  }

  .offset_8 {
    margin-left: 526px;
  }

  .offset_9 {
    margin-left: 590px;
  }

  .offset_10 {
    margin-left: 654px;
  }

  .offset_11 {
    margin-left: 718px;
  }

  .show-phone {
    display: none !important;
  }

  .hide-phone {
    display: inherit !important;
  }

  .show-tablet {
    display: inherit !important;
  }

  .hide-tablet {
    display: none !important;
  }

  .show-screen {
    display: none !important;
  }

  .hide-screen {
    display: inherit !important;
  }
}
@media only screen and (max-width: 767px) {
  .row {
    width: 300px;
  }
  .row.row {
    margin: 0;
  }

  [class^="column_"], [class*=" column_"] {
    width: 300px;
    margin: 10px 0 0 0;
  }

  .offset_1 {
    margin-left: 0;
  }

  .offset_2 {
    margin-left: 0;
  }

  .offset_3 {
    margin-left: 0;
  }

  .offset_4 {
    margin-left: 0;
  }

  .offset_5 {
    margin-left: 0;
  }

  .offset_6 {
    margin-left: 0;
  }

  .offset_7 {
    margin-left: 0;
  }

  .offset_8 {
    margin-left: 0;
  }

  .offset_9 {
    margin-left: 0;
  }

  .offset_10 {
    margin-left: 0;
  }

  .offset_11 {
    margin-left: 0;
  }

  .show-phone {
    display: inherit !important;
  }

  .hide-phone {
    display: none !important;
  }

  .show-tablet {
    display: none !important;
  }

  .hide-tablet {
    display: inherit !important;
  }

  .show-screen {
    display: none !important;
  }

  .hide-screen {
    display: inherit !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .row {
    margin: 0 auto;
    width: 456px;
    overflow: hidden;
  }
  .row.row {
    margin: 0;
    width: auto;
    display: inline-block;
  }

  [class^="column_"], [class*=" column_"] {
    margin: 10px 0 0 0;
    width: 456px;
  }

  .show-phone {
    display: inherit !important;
  }

  .hide-phone {
    display: none !important;
  }

  .show-tablet {
    display: none !important;
  }

  .hide-tablet {
    display: inherit !important;
  }

  .show-screen {
    display: none !important;
  }

  .hide-screen {
    display: inherit !important;
  }
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  vertical-align: baseline;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}
body * {
  box-sizing: border-box;
}
body > header {
  height: 48px;
  line-height: 48px;
  position: relative;
}
body > header .logo {
  font-size: 2em;
  line-height: 48px;
}
body > header nav {
  font-size: 0.95em;
}
body > header nav a {
  margin: 0 10px;
}
body > header nav a:last-child {
  margin-right: 0px;
}
body > footer {
  padding: 16px 0;
}
body > section {
  background: none;
}
body > section.padding {
  padding: 48px 0;
}
body > section.underline {
  padding: 0;
}
body > section.landing {
  padding: 10px 0;
}
body > section.landing h1 {
  font-size: 8em;
}
body > section.landing h2 {
  font-size: 4em;
}
body > section.landing h3 {
  font-size: 2.8em;
}
body > section.landing .form {
  margin-top: 5px;
}
body > section.landing .form input {
  width: 65%;
}
body > section.landing .form .button, body > section.landing .form button {
  width: 35%;
}
body a {
  text-decoration: none;
  outline: 0;
}

ul {
  list-style: disc;
  /*&:not(.none) li {
  padding:       0;
  /*background: none;}*/
}
ul.square li, ul.circle li {
  margin: 0 0 5px 18px;
}
ul ul, ul ol {
  margin: 5px 0 5px 0;
}
ul.none {
  list-style: none outside;
  margin: 0;
}
ul.square {
  list-style: square outside;
}
ul.square ul {
  list-style: square outside;
}
ul.circle {
  list-style: circle outside;
}
ul.circle ul {
  list-style: circle outside;
}

ol {
  margin: 0 0 20px 20px;
  list-style: decimal;
}
ol ol, ol ul {
  margin: 5px 0 5px 20px;
}
ol li {
  margin: 0 0 5px 0;
  padding: 0;
  line-height: 18px;
}

/* ==== Screen Bigger than 960px ==== */
@media only screen and (min-width: 1200px) {
  header {
    height: auto;
  }
}
/* ==== Screen 960px ==== */
@media only screen and (min-width: 960px) and (max-width: 1199px) {
  header {
    height: auto;
  }
}
/* ==== Tablet (Smaller than 959px) ==== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  header {
    height: auto;
  }
}
/* ==== Phone (landscape 420px) ==== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  header {
    height: auto !important;
  }
}
/* ==== Phone (portrait 300px) ==== */
@media only screen and (max-width: 767px) {
  header {
    height: auto !important;
  }
}
/* ==== Any phone ==== */
@media only screen and (max-width: 767px) {
  section.landing h1 {
    font-size: 5em !important;
  }
  section.landing h2 {
    font-size: 2.8em !important;
  }
  section.landing h3 {
    font-size: 1.8em !important;
  }

  header {
    height: auto !important;
    line-height: 32px;
  }

  nav button, nav .button, nav a {
    text-align: center;
    display: block !important;
    margin: 2px 0px !important;
    line-height: 32px;
  }
  nav.group a {
    border: none !important;
  }
}
/* ==== Retina ==== */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  header {
    height: auto;
  }
}
nav.group a {
  font-size: 15px;
  padding: 12px 16px;
  margin: 0px;
  display: inline-block;
}
nav:not(.group) a {
  margin: 0 4px;
}
nav:not(.group) a:last-child {
  margin-right: 0px;
}
nav a:not(.button) .icon, nav a:not(.button) img {
  margin-right: 3px;
  position: relative;
  top: 1px;
}

table {
  margin: 0 0 20px 0;
  width: 100%;
  border-spacing: 2px;
}
table td {
  padding: 10px 8px 10px 8px;
}
table th {
  padding: 10px 8px 10px 8px;
  font-weight: 700;
}
table td.highlight {
  font-weight: 700;
}

.scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-box-flex: 1;
  /* BUG (iOS) POSITION: relative childrens */
}
.scroll.horizontal {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.scroll > * {
  -webkit-transform: translate3d(0, 0, 0);
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.margin_none {
  margin: 0;
}

.margin {
  margin: 20px;
}

.margin_left {
  margin-left: 20px;
}

.margin_right {
  margin-right: 20px;
}

.margin_top {
  margin-top: 20px;
}

.margin_bottom {
  margin-bottom: 20px;
}

.padding_none {
  padding: 0;
}

.padding {
  padding: 20px;
}

.padding_left {
  padding-left: 20px;
}

.padding_right {
  padding-right: 20px;
}

.padding_top {
  padding-top: 20px;
}

.padding_bottom {
  padding-bottom: 20px;
}

.block {
  display: block;
}

.inline {
  display: inline-block;
}

.none {
  display: none;
}

/* ================== IMAGE & MEDIA ================== */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
img.responsive {
  width: 100%;
  height: auto;
}

/* ================== TAGs =========================== */
.tag {
  position: relative;
  padding: 3px 4px;
  font-size: 9px !important;
  line-height: 1em;
  text-transform: uppercase;
}

.ch-grid {
  margin: 20px 0 0 0;
  padding: 0 0 50px 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

.ch-grid:after,
.ch-item:before {
  content: '';
  display: table;
}

.ch-grid:after {
  clear: both;
}

.ch-grid li {
  width: 220px;
  height: 220px;
  display: inline-block;
  margin: 20px;
}

.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.ch-thumb {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  box-shadow: inset 0 0 0 15px rgba(255, 255, 255, 0.5);
  -webkit-transform-origin: 95% 40%;
  -moz-transform-origin: 95% 40%;
  -o-transform-origin: 95% 40%;
  -ms-transform-origin: 95% 40%;
  transform-origin: 95% 40%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ch-thumb:after {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  top: 40%;
  left: 95%;
  margin: -4px 0 0 -4px;
  background: #0e0e0e;
  background: -moz-radial-gradient(center, ellipse cover, #0e0e0e 0%, #7d7e7d 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #0e0e0e), color-stop(100%, #7d7e7d));
  background: -webkit-radial-gradient(center, ellipse cover, #0e0e0e 0%, #7d7e7d 100%);
  background: -o-radial-gradient(center, ellipse cover, #0e0e0e 0%, #7d7e7d 100%);
  background: -ms-radial-gradient(center, ellipse cover, #0e0e0e 0%, #7d7e7d 100%);
  background: radial-gradient(ellipse at center, #0e0e0e 0%, #7d7e7d 100%);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.9);
}

.ch-img-1 {
  background-image: url(../images/1.jpg);
  z-index: 12;
}

.ch-img-2 {
  background-image: url(../images/2.jpg);
  z-index: 11;
}

.ch-img-3 {
  background-image: url(../images/3.jpg);
  z-index: 10;
}

.ch-info {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  background: url(../images/cardboard.png);
  box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.05);
}

.ch-info h3 {
  color: #ce316f;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  font-size: 18px;
  margin: 0 60px;
  padding: 51px 0 0 0;
  height: 85px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}

.ch-info p {
  color: #222;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.ch-info p a {
  display: block;
  color: #333;
  width: 80px;
  height: 80px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 24px;
  margin: 7px auto 0;
  font-family: 'Open Sans', Arial, sans-serif;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s ease-in-out 0.2s, opacity 0.3s ease-in-out 0.2s, background 0.2s linear 0s;
  -moz-transition: -moz-transform 0.3s ease-in-out 0.2s, opacity 0.3s ease-in-out 0.2s, background 0.2s linear 0s;
  -o-transition: -o-transform 0.3s ease-in-out 0.2s, opacity 0.3s ease-in-out 0.2s, background 0.2s linear 0s;
  -ms-transition: -ms-transform 0.3s ease-in-out 0.2s, opacity 0.3s ease-in-out 0.2s, background 0.2s linear 0s;
  transition: transform 0.3s ease-in-out 0.2s, opacity 0.3s ease-in-out 0.2s, background 0.2s linear 0s;
  -webkit-transform: translateX(60px) rotate(90deg);
  -moz-transform: translateX(60px) rotate(90deg);
  -o-transform: translateX(60px) rotate(90deg);
  -ms-transform: translateX(60px) rotate(90deg);
  transform: translateX(60px) rotate(90deg);
  -webkit-backface-visibility: hidden;
}

.ch-info p a:hover {
  background: #ce316f;
}

.ch-item:hover .ch-thumb {
  box-shadow: inset 0 0 0 15px rgba(255, 255, 255, 0.5), 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(-110deg);
  -moz-transform: rotate(-110deg);
  -o-transform: rotate(-110deg);
  -ms-transform: rotate(-110deg);
  transform: rotate(-110deg);
}

.ch-item:hover .ch-info p a {
  opacity: 1;
  -webkit-transform: translateX(0px) rotate(0deg);
  -moz-transform: translateX(0px) rotate(0deg);
  -o-transform: translateX(0px) rotate(0deg);
  -ms-transform: translateX(0px) rotate(0deg);
  transform: translateX(0px) rotate(0deg);
}
