/* --------------------------------
  Theme
-------------------------------- */

a {
  color: #666;
  text-decoration: none;

  &:visited {
    color: #666;
  }

  &:focus, &:hover {
    text-decoration: underline;
  }
}

/* --------------------------------
  Colors
-------------------------------- */

.bare {
  color: #bbb;
}

.pale {
  color: #999;
}

.neutral {
  color: #666;
}

.opaque {
  color: #333;
}

.sharp {
  color: #000;
}

.contrast {
  color: #fff !important;
}

.firm, a.firm {
  color: #f4b408 !important;
}

.positive {
  color: #73ab00;
}

.negative {
  color: #c20000;
}

a.bare, .bare a {
  color: #bbb;
}

a.pale, .pale a {
  color: #999;
}

a.neutral, .neutral a {
  color: #666;
}

a.opaque, .opaque a {
  color: #333;
}

a.sharp, .sharp a {
  color: #000;
}

a.contrast, .contrast a {
  color: #fff;
}

a.firm, .firm a {
  color: #f4b408;
}

a.positive, .positive a {
  color: #73ab00;
}

a.negative, .negative a {
  color: #c20000;
}

.bgbare {
  background: #bbb !important;
}

.bgpale {
  background: #999;
}

.bgneutral {
  background: #666;
}

.bgopaque, header.bgopaque {
  background: #333;
}

.bgsharp {
  background: #000;
}

.bgcontrast {
  background: #fff;
}

.bgfirm {
  background: #f4b408;
}

.bgpositive {
  background: #73ab00;
}

.bgnegative {
  background: #c20000;
}

.bobare {
  border-color: #bbb;
}

.bopale {
  border-color: #999;
}

.boneutral {
  border-color: #666;
}

.boopaque {
  border-color: #333;
}

.bosharp {
  border-color: #000;
}

.bocontrast {
  border-color: #fff;
}

.bofirm {
  border-color: #f4b408;
}

.bopositive {
  border-color: #73ab00;
}

.bonegative {
  border-color: #c20000;
}

.bothin {
  border: 1px solid;
}

.bg_zen {
  background: url(../assets/bg4.jpg) 0 0 no-repeat;
}

.nak {
  position: relative;
  background: url(../assets/nak.png) no-repeat top center;
  background-size: 100%;
}

.underline {
  padding-bottom: 10px;
  background: url(../assets/underline.png) bottom right no-repeat;
}

.underline_contrast {
  padding-bottom: 10px;
  background: url(../assets/underline_contrast.png) bottom right no-repeat;
}

.coming_soon {
  position: absolute;
  right: -100px;
  bottom: -100px;
  width: 271px;
  height: 130px;
  background: url(../assets/comming-soon.png) 0 0 no-repeat;
}

.cooking {
  position: absolute;
  top: -100px;
  left: 130px;
  width: 103px;
  height: 92px;
  background: url(../assets/cooking.png) 0 0 no-repeat;
}

.notfinished {
  position: absolute;
  right: 20px;
  bottom: 50px;
  float: right;
  transform: rotate(20deg);
  color: #666;
  font-family: "Mr Dafoe", sans-serif;
  font-size: 4em;

  @media all and (max-width: 1000px) {
    display: none;
  }
}

.tshadow {
  text-shadow: 0 1px 0 black, 0 -1px 0 white;
}

.boxshadowl {
  box-shadow: 5px 5px 30px #999;
}

.bora10 {
  border-radius: 0 10px 0 10px;
}

ul.boxshadow2 li {
  box-shadow: 3px 3px 5px #000;
}

.bio_bg {
  background: url(../assets/bio_bg.jpg) bottom right no-repeat;
  background-attachment: fixed;

  @media all and (max-width: $mobile-width) {
    > * {
      width: 80%;
      margin: auto;
    }
  }
}

.top_n {
  width: 53px;
  height: 80px;
  margin: auto;
  margin: -40px auto 0;
  background: url(../assets/top_deco_n.png) no-repeat;
}

.top_a {
  width: 53px;
  height: 80px;
  margin: -40px auto 0;
  background: url(../assets/top_deco_a.png) no-repeat;
}

.top_k {
  position: absolute;
  left: calc(50% - 26px);
  width: 53px;
  height: 80px;
  margin: auto;
  background: url(../assets/top_deco_k.png) no-repeat;
}

.top_nak {
  width: 47px;
  height: 195px;
  margin: auto;
  background: url(../assets/nak.png) no-repeat;

  @media all and (max-width: 1000px) {
    display: none;
  }
}

.ank {
  margin: 0;
}

h1.logo {
  position: relative;
  width: 47px;
  height: 196px;
  margin: auto;

  span {
    position: absolute;
    text-indent: -9999px;
  }

  em {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/naknak.png) no-repeat top center;
  }
}

.credits {
  position: relative;
}

.csswinner {
  display: block;
  width: 81px;
  height: 59px;
  margin-left: 30px;
  background: url(../assets/nominee-white-right.png) no-repeat;
  text-indent: -9000px;
}

.awards {
  display: flex;
  justify-content: space-around;

  @media all and (max-width: $mobile-width) {
    flex-direction: column;
    align-items: center;
  }

  > a {
    width: 150px;

    @media all and (max-width: $mobile-width) {
      margin: 20px 0;
    }

    img {
      &:first-of-type {
        max-width: 170px;
        height: 70px;
        margin-bottom: 20px;
      }

      &:last-of-type {
        height: 70px;
      }
    }

    &:first-of-type {
      img {
        &:nth-of-type(2) {
          @media all and (max-width: $mobile-width) {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

.laurel {
  width: 80px;
  height: 76px;
  margin-top: -4px;
  padding: 15px;
  background: url(../assets/ico-laurel.svg) no-repeat;
  background-size: 100% 100%;

  span {
    display: block;
  }

  .type {
    margin-top: 17px;
    font-size: 11px;
  }

  .day {
    font-family: 'MuseoSans_Fat', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 19px;
  }

  .month {
    font-size: 11px;
    line-height: 11px;
  }

  .special {
    width: 100px;
    margin: 0;
    float: right;
    color: #a6abab;
  }
}

.pattern2 {
  background: url(../assets/pattern2.png);
}

.pattern3 {
  background: url(../assets/bg5.png);
}

.size1of6 {
  a:hover {
    text-decoration: none;
  }
}

.findme {
  a {
    &:hover {
      i {
        color: #f4b408;
      }
    }
  }
}

.find {
  @media all and (max-width: 810px) {
    padding: 0 20px;
  }
}

.cv {
  a {
    text-decoration: none;

    &:hover {
      color: $darker;
    }
  }
}

.nabaroa {
  width: 200px;
  height: 200px;
  margin: 1rem auto;
  border-radius: 500rem;
  background: url(https://s-media-cache-ak0.pinimg.com/564x/7e/12/e7/7e12e73a7a2f2b34d64241a90134915d.jpg) 0 0 no-repeat;
  background-size: cover;
}

.icon-lea {
  width: 200px;
  height: 200px;
  margin: 1rem auto 2rem auto;
  text-align: center;

  > span {
    display: block;
  }
}

.collage {
  background: url(../assets/collage.jpg) 0 0 no-repeat;
  background-size: cover;
}

.huge {
  font-size: 12em;
}
