.agenda {
  max-width: 500px;
}

.agenda__item {
  position: relative;
  padding-bottom: var(--spacer-medium);

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 8px;
    left: -24px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: var(--color);
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -17px;
    width: 1px;
    height: 100%;
    background: #ccc;
    opacity: 0.2;
  }
}

.agenda__time {
  font-size: var(--medium);
  color: var(--color--k-5);
}

.agenda__title {
  color: var(--color);
  font-size: 1.5em;
}

.agenda__link {
  color: var(--color);
}

.resources__link {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../assets/icon-external-link.svg) no-repeat;

  &:hover {
    opacity: 0.5;
  }
}

.icon-list {
  display: flex;
  align-items: center;
}
