html {
  scroll-behavior: smooth;
}

.menu {
  flex-wrap: wrap;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  transition: all 0.1s ease;
  background: var(--color--k-2);
  z-index: 2;
  opacity: .9;

  @media (--small) {
    display: flex;
  }
}

.menu__item {
  display: block;
  padding: var(--small);
  text-decoration: none;
  color:var(--color--k-10);
}

a.icon_menu {
  width: 38px;
  height: 25px;
  margin: 10px;

  & span {
    position: absolute;
    text-indent: -9999px;
  }

  & em {
    background: url(../assets/icon_menu.png) no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}


.nk-card {
  /* background: black; */
  /* border-radius: 4px; */
}

.nk-text-decoration--none {
  text-decoration: none;
}