html {
  scroll-behavior: smooth;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  transition: all 0.1s ease;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.menu__item {
  display: block;
  padding: var(--small);
}

a.icon_menu {
  width: 38px;
  height: 25px;
  margin: 10px;

  & span {
    position: absolute;
    text-indent: -9999px;
  }

  & em {
    background: url(../assets/icon_menu.png) no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
