.tooltip {
    /*opacity: 0;*/
    position: absolute;
    top: -200px;
    left: calc(50% - 100px);
    width:200px;
    height: 200px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    line-height: 1.5em;
    display: flex;
    padding-top: 70px;
border-radius: 500rem;
font-size: 1.5em;
    background: #222;
    transition: .2s;


}

.tooltip__text {}

.has-tooltip {
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
    position: relative;
    display: block;
    &:hover {
        .tooltip {
            /*opacity: 1;*/
              top: -100px;
        }
    }
}
