.tooltip {
  position: absolute;
  top: -200px;
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  z-index: 2;
  justify-content: center;
  align-items: center;
  line-height: 1.5em;
  display: flex;
  padding-top: 70px;
  border-radius: 500rem;
  font-size: 1.5em;
  background: #222;
  transition: 0.2s;
}

.has-tooltip {
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
  display: block;

  &:hover {
    .tooltip {
      top: -100px;
    }
  }
}
