//--------------------------------//
//  navigation 
//--------------------------------//

.nav_bottom {
  position: absolute !important;
  z-index: 10000;
  left: 50% !important;
  bottom: 5px !important;
  width: inherit !important;
  margin-left: inherit !important;
}

.mainmenu {
  position: fixed;
  top: 0;
  right: 10px;
  z-index: 5;
}

a.icon_menu {
  width: 38px;
  height: 25px;
  margin: 10px;
  span {
    position: absolute;
    text-indent: -9999px;
  }
  em {
    background: url(../assets/icon_menu.png) no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}