//--------------------------------//
//  Icons
//--------------------------------//

.icon-lea:before {
  font-size: 12rem;
  color: #666;
}

.icon-link {
  font-size: 1em !important;
  padding-top: 5px;
}