//--------------------------------//
//  typography
//--------------------------------//
body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
  font-family: "Myriad Pro", "Segoe UI", Helvetica, Arial, sans-serif;
  *font-size: small;
  *font: x-small;
}

select,
input,
button,
textarea {
  font: 99% arial, helvetica, clean, sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

a > i {
  text-decoration: none;
  // color: #000 !important;
}

pre,
code,
kbd,
samp,
tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
  margin: 0;
  padding: 0;
}

/* general NAK */

/*Fonts*/
.wire {
  font-family: 'Wire One', sans-serif;
}

.abel {
  font-family: 'Abel', sans-serif;
}

.zeyada {
  font-family: Zeyada;
}

.syncopate {
  font-family: Syncopate;
}

.size10 {
  font-size: 10%;
}

.size20,
a.size20 {
  font-size: 20%;
}

.size40 {
  font-size: 40%;
}

.size50,
a.size50 {
  font-size: 50% !important;
}

.size70 {
  font-size: 70% !important;
}

.size90 {
  font-size: 90%;
}

.text.size100 {
  font-size: 10em;
}

.size120 {
  font-size: 120%;
}

.size150 {
  font-size: 150%;
}

.size200 {
  font-size: 200%;
}

.size300 {
  font-size: 300%;
}

.size700 {
  font-size: 700%;
}

/* ====== Headings ====== */
/* .h1-.h6 classes should be used to maintain the semantically appropriate heading levels - NOT for use on non-headings */
h1,
.h1 {
  font-size: 500%;
  font-weight: normal;
  font-style: normal;
  color: #f4b408;
}

h2,
.h2 {
  font-size: 400%;
  font-weight: normal;
  font-style: normal;
  color: #f4b408;
}

h3,
.h3 {
  font-size: 146.5%;
  font-weight: normal;
  font-style: normal;
  color: #f4b408;
}

h4,
.h4 {
  font-size: 123.1%;
  font-weight: normal;
  font-style: normal;
  color: #333;
}

h5,
.h5 {
  font-size: 108%;
  font-weight: bold;
  font-style: normal;
  color: #AE0345;
}

h6,
.h6 {
  font-size: 108%;
  font-weight: normal;
  font-style: italic;
  color: #333;
}

@media all and (max-width: 1000px) {
  h1,
  .h1 {
    font-size: 500%;
    font-weight: normal;
    font-style: normal;
    color: #f4b408;
  }
  h2,
  .h2 {
    // font-size: 200%;
    font-weight: normal;
    font-style: normal;
    color: #f4b408;
  }
}

//
//
//
//