/*

Created by Naiara Abaroa: @nabaroa
First commit 2012
Migration to nakDS.io 2022

*/

@import "../node_modules/nakds/dist/css/nakDS.min.css";

/* --------------------------------
  settings/
-------------------------------- */

@import "settings/var.css";

/* --------------------------------
  base
-------------------------------- */
/* @import "base/reset.css"; */
@import "base/typography.css";

/* --------------------------------
  components/
-------------------------------- */

@import "components/agenda.css";
@import "components/cards.css";
@import "components/navigation.css";
@import "components/utilities.css";

/* --------------------------------
   layout/
-------------------------------- */

/* --------------------------------
    pages/
-------------------------------- */

@import "pages/home.css";
@import "pages/works.css";
@import "pages/findme.css";
@import "pages/work_file.css";

/* --------------------------------
     themes/
-------------------------------- */

/* --------------------------------
     extra/
-------------------------------- */

@custom-media --small (min-width: 480px);
@custom-media --small--max (max-width: 799px);
@custom-media --medium (min-width: 800px);
@custom-media --medium--max (max-width: 1169px);
@custom-media --large (min-width: 1170px);
@custom-media --large--max (max-width: 1439px);
@custom-media --xlarge (min-width: 1440px);

.pattern3 {
  background: url(../assets/bg5.png);
}

.nk-color {
  color: var(--color);
}

.date {
  text-align: right;
  font-size: var(--medium);
  color: var(--color--k-7);
}

.nk-card {
  background: #111;
  border-radius: 4px;
  color: var(--color--k-7);

  & img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
  }

  & a {
    color: var(--color--k-5);
  }

  & .nk-card__body {
    display: flex;
    flex-direction: column;
  }

  & .date {
    margin-top: auto;
  }
}

.nk-timeline {
  &::before {
    opacity: 0.3;
  }
}

.nk-timeline__date {
  color: var(--color--k-7);
}

.nk-timeline__assets {
  list-style: none;
}

.nk-timeline__item {
  padding-left: var(--x-large);
  margin-bottom: var(--large);

  &::before {
    opacity: 0.5;
    left: 24px;
  }
}

.nk-timeline__assets {
  display: flex;
  align-items: center;
  gap: var(--small);
}

.nk-timeline__icon {
  width: var(--large);
}

.nk-full {
  width: 100vw;
}
