@import "../node_modules/nakds/dist/css/nakDS.css";
@import "./components/cover.css";
@import "./components/timeline.css";

:root {
  --color: #f4b408;
}

/* -- */

.nk-nav--horizontal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: var(--font-size--medium);
  background: var(--color--k-2);
  position: fixed;
  width: 100vw;
  height: 48px;
}

.nk-nav__item {
}

.nk-nav__link {
  text-decoration: none;
  color: var(--color--k-8);
}

.nk-timeline__title {
  color: var(--color);
}

.nk-timeline__date {
  color: var(--color--k-4);
}

.nk-timeline {
  [class^="nk-icon"] {
    fill: var(--color--k-4);
  }
}
