@font-face {
  font-display: swap;
  font-family: "Wire One";
  src: url(../assets/fonts/WireOne-Regular.ttf);
}

.wire {
  font-family: "Wire One", sans-serif;
}

.abel {
  font-family: "Abel", sans-serif;
}

body {
  /* font-family: "Abel", sans-serif; */
  font-family: "Lato-light", sans-serif;
}

.display-1 {
  font-size: 6em;
}

.display-2 {
  font-size: 5em;
}

.display-3 {
  font-size: 4em;
}

.display-4 {
  font-size: 3em;
}

.display-5 {
  font-size: 1.5em;
}

.display-20vw {
  font-size: 20vw;
}

[class^="nk-heading"] {
  font-family: "Wire One", sans-serif;
}
