/* --------------------------------
  typography
-------------------------------- */

/* general NAK */

/* Fonts */
.wire {
  font-family: "Wire One", sans-serif;
}

.abel {
  font-family: "Abel", sans-serif;
}

body {
  font-family: "Abel", sans-serif;
}
