// Greyscale
$color: #f4b407;
$content2color: #bdda0d;
$content3color: #36d0b5;
$content4color: #ce316f;
$content5color: #888901;
$black: black;
$opaque: #111111;
$darker: #222222;
$dark: #313131;
$darkless: #3e3e3e;
$neutraler: #444444;
$neutral: #666666;
$paler: #777777;
$pale: #999999;
$barer: #b9b8b8;
$bare: #cccccc;
$white: white;

/* --------------------------------------------------------------------*/
/* Media queries
/* --------------------------------------------------------------------*/
$mobile-width-s: 320px;
$mobile-width: 480px;
$mobile-height-s: 480px;
$mobile-height: 800px;
$netbook-width: 1080px;
$tablet-width: 850px;
$tablet-width-min: 851px;
$l-screensize: 1440px;
$xl-screensize: 1900px;