[class^="nk-grid-"],
[class*=" nk-grid-"] {
  display: grid;
}

.nk-grid-4 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-columns: column 100px 100px 1fr;
}

.nk-grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.nk-grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

[class^="nk-grid-"],
[class*=" nk-grid-"] {
  @media all and (--small) {
    &.nk-grid-4--sm {
      grid-template-columns: repeat(4, 1fr);
    }

    &.nk-grid-3--sm {
      grid-template-columns: repeat(3, 1fr);
    }

    &.nk-grid-2--sm {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

[class^="nk-grid-"],
[class*=" nk-grid-"] {
  @media all and (--medium) {
    &.nk-grid-4--md {
      grid-template-columns: repeat(4, 1fr);
    }

    &.nk-grid-3--md {
      grid-template-columns: repeat(3, 1fr);
    }

    &.nk-grid-2--md {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

[class^="nk-grid-"],
[class*=" nk-grid-"] {
  @media all and (--large) {
    &.nk-grid-4--lg {
      grid-template-columns: repeat(4, 1fr);
    }

    &.nk-grid-3--lg {
      grid-template-columns: repeat(3, 1fr);
    }

    &.nk-grid-2--lg {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/* Gaps */

:root {
  --gap: calc(100% / 12);
}

.nk-gap {
  grid-gap: var(--medium);

  @media (--medium) {
    grid-gap: var(--x-large);
  }

  &--32 {
    grid-gap: var(--xxx-large);
  }

  &--column {
    grid-column-gap: calc(100% / 12);
  }
}

.nk-no-gap {
  grid-gap: 0;
}

.nk-grid-row-gap--6 {
  grid-row-gap: calc(var(--x-small) * 6);
}

/* Patterns */

.nk-grid-sidebar {
  @media (--medium) {
    grid-template-columns: 264px 1fr;
  }
}

/* Alignments */

.nk-justify-self-center {
  > * {
    justify-self: center;
  }
}

.nk-align-items-start {
  align-items: flex-start;
}

.nk-align-items-center {
  align-items: center;
}

.nk-align-items-end {
  align-items: flex-end;
}

.nk-align-self-center {
  > * {
    align-self: center;
  }
}

/* Reverse */

.nk-reverse {
  grid-auto-flow: dense;

  > *:first-child {
    grid-column-end: -1;
  }

  &.nk-grid-3,
  &.nk-grid-4 {
    > *:nth-child(2) {
      grid-column-end: -2;
    }
  }

  &.nk-grid-4 {
    > *:nth-child(3) {
      grid-column-end: -3;
    }
  }
}

.nk-grid__item {
  position: relative;
}